* {
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 14px; 
  font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(99, 47, 17);
}

a {
  color: #00B7FF;
}

.hidden {
  display: none;
}

.Phase {
  height: 90vh;
  background-color: rgb(99, 47, 17);
  color: pink;
  margin: 2%;
  padding: 2%;
  border-radius: 3em;
  font-size: 2.5rem;  
}

#Default{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Beginning Page Popup*/

.buttonlayout {
  display: flex;
  justify-content: space-evenly;
}



.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}

.homepagebutton {
  background-color: rgb(255, 176, 225);
  border-radius: 1rem;
  border-style: none;
  padding: .5rem;
  padding: 1%;
  font-size: 1.5rem;
}

.homepagebutton:hover{
  background-color: rgb(206, 111, 169);
  color: rgb(255, 176, 225);
}
/*Stats page*/
#grid-container {
    display: grid;
    /* Defines two columns, each taking up an equal fraction of the available space */
    grid-template-columns: repeat(2, 1fr); 
    /* Defines two rows, each taking up an equal fraction of the available space */
    grid-template-rows: repeat(2, 1fr); 
    gap: 5rem;
}

.grid-item {
  text-align: center;
}

.qBtn {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  background-color: rgb(255, 176, 225);
  border-radius: 5px;
  border-style: none;
}

.qBtn:hover {
  background-color: rgb(206, 111, 169);
  color: rgb(255, 176, 225);
}

.back{
  background-color: rgb(255, 176, 225);
  border-radius: 2rem;
  border-style: none;
  padding: .75rem;
  font-size: 1.2rem;
}

.back:hover{
  background-color: rgb(206, 111, 169);
  color: rgb(255, 176, 225);
}

.buttonDis{
  display: flex;
  width: 92%;
  flex-direction: row;
  justify-content: space-evenly;
}

#statDisplay {
  display: none;
}

#Answer {
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#Questions {
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#questionForm > input{
  font-size: 1.5rem;
  border-radius: 2rem; 
  padding: .5rem;
  border-color: solid;
}

#questionForm > button{
  background-color: rgb(255, 176, 225);
  border-radius: 1.5rem;
  border-style: none;
  padding: .70rem;
  font-size: 1rem;
}

#questionForm > button:hover{
  background-color: rgb(206, 111, 169);
  color: rgb(255, 176, 225);
}

#Stat {
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#filterChoice {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  html { 
    background-color: rgb(99, 47, 17);
  }

  p {
    font-size: 1.5rem;
  }

  .grid-item {
    font-size: 1.25rem;
  }
}